<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-4">To Do List</h1>
      <div class="row" id="tasks"></div>
      
      <div class="row" id="active">
        <div class="col-12 mt-3">
          <label>
            <input id="allCheckBox" type="checkbox" name="all" checked> All
          </label>
          <label>
            <input id="activeCheckBox" type="checkbox" name="active"> Active
          </label>
          <label>
            <input id="completedCheckBox" type="checkbox" name="completed"> Completed
          </label>
        </div>
      </div>
      <div class="row" id="add_tasks">
        <div class="col-12">
          <form class="form-inline my-4">
            <input id="task-input" type="text" class="form-control" placeholder="Add a task here">
            <button id="submit" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
